---

import Layout from "@/layouts/Layout.astro";

import Header from "@/components/Header.astro";

---

<Layout title="Error 404: No Encontrado El Cafetito - Bar de Tapas y Bocadillos en Villamayor, Salamanca">
  
  <Header />

  <main class="m-5 h-screen">
    
    <h1 class="text-4xl font-bold text-center">Página no encontrada</h1>
    <p class="text-center">Lo siento, la página que buscas no existe.</p>

  </main>

</Layout>