---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';



---

<Layout title="El Cafetito - Bar de Tapas y Bocadillos en Villamayor, Salamanca">
	
	<Header />
	
	<main class="m-5 h-screen">
		

		<button class="border rounded-full border-primary border-5 p-2 bg-background hover:bg-gray-200" onclick='compartirPagina()''> SHARE BUTTON</button>


	</main>



	<Footer />


</Layout>

<style>


</style>


