---

import Layout from "@/layouts/Layout.astro";
import Footer from '@/components/Footer.astro';

import carta from "@/data/carta.json";

import MenuSection from "@/components/MenuSection";
---


<Layout title="Menu CafeTito">
  <h1 class="my-5 text-4xl md:text-8xl font-serif font-black text-primary text-center underline underline-offset-8">Nuestra Carta</h1>
  <main class="py-6 mx-5 sm:mx-20 md:mx-44 rounded-3xl min-h-screen border-2 border-primary flex flex-col items-center">


    {
      Object.entries(carta).map(([section, dishes]) => (
        <MenuSection client:load section={section} dishes={dishes} />
      ))
    }



  </main>

  <Footer/>
  
</Layout>


