---

import Layout from "@/layouts/Layout.astro";
import Footer from '@/components/Footer.astro';


import MenuSection from "@/components/MenuSection";
---


<Layout title="Menu CafeTito">
  <h1 class="my-5 text-4xl md:text-8xl font-serif font-black text-primary text-center underline underline-offset-8">Nuestra Carta</h1>
  <main class="py-6 w-[90%] md:w-1/2 mx-auto rounded-3xl min-h-screen border-2 border-primary flex flex-col items-center ">

  
    <MenuSection client:load />



  </main>

  <Footer/>
  

</Layout>

