---

import Layout from "@/layouts/Layout.astro";
import Footer from '@/components/Footer.astro';
import Header from "@/components/Header.astro";



import MenuSection from "@/components/MenuSection";
---


<Layout title="Menu CafeTito">
  
  <Header/>
  
  <h1 class="my-5 text-4xl md:text-8xl font-serif font-black text-primary text-center underline underline-offset-8">Nuestra Carta</h1>
  <main class="py-6 w-[90%] mx-auto rounded-3xl min-h-screen border-2 border-primary flex flex-col items-center md:grid md:items-start md:grid-cols-2">
  
    <MenuSection client:load />
  </main>

  <Footer/>
</Layout>


