---

import Layout from "@/layouts/Layout.astro";
import Footer from '@/components/Footer.astro';


---


<Layout title="Menu CafeTito">
  <h1 class="mt-5 text-4xl md:text-5xl font-serif font-black text-primary text-center">Nuestra Carta</h1>
  <main class="mx-5 h-screen  flex flex-col items-center ">

    <section class="mt-10 border-2 rounded-xl border-secondary w-48 py-2 flex flex-col items-center coffee-section">
      <h2 class="text-2xl md:text-3xl font-serif font-black text-secondary">Cafés</h2>
      <ul class="mt-5 coffee-list hidden transition-all ease-in-out">
        <li class="text-lg md:text-xl text-center font-serif font-bold text-secondary/80">Café Americano</li>
        <li class="text-lg md:text-xl text-center font-serif font-bold text-secondary/80">Café Espresso</li>
        <li class="text-lg md:text-xl text-center font-serif font-bold text-secondary/80">Café Latte</li>
      </ul>
    </section>


  </main>

  <Footer />
  
</Layout>


<script is:inline>

  const coffeeSection = document.querySelector('.coffee-section');
  const coffeeList = document.querySelector('.coffee-list');
  let coffeeListVisible = false;



  coffeeSection?.addEventListener('click', () => {
    if (!coffeeListVisible) {
      coffeeList.style.display = 'block';
      coffeeListVisible = true;
    } else {
      coffeeList.style.display = 'none';
      coffeeListVisible = false;

    }
  });

</script>