<footer class="bg-secondary text-background py-3 px-5 mt-4">

    <div class="container">
        <div >
            <p>© 2024 - Todos los derechos reservados</p>
        </div>
    </div>


</footer>