<footer class="bg-secondary text-background py-8 px-5 mt-4">
  <div class="container mx-auto flex flex-wrap justify-between items-start">
    <!-- Dirección del bar -->
    <address class="mb-6 w-full md:w-1/3">
      <h2 class="text-lg font-bold">El Cafetito Villamayor</h2>
      <p class="pl-1">Pl. Constitución, 5, 37185 Villamayor, Salamanca</p>
      <p class="pl-1">No se aceptan Reservas</p>
    </address>

    <!-- Horario -->
    <time class="w-fit flex flex-col">
      <h2 class="text-lg font-bold mb-1">Horario</h2>
      <div class="grid grid-cols-4 items-center h-fit justify-between text-center gap-2">
        <div class="h-full w-full">
          <p class="font-semibold min-h-[70%] max-h-[70%] flex items-center justify-center">Lunes</p>
          <p>09:00 - 15:30</p>
        </div>
        <div class="h-full w-full">
          <p class="font-semibold min-h-[70%] max-h-[70%] flex items-center justify-center">Martes a jueves</p>
          <p>08:30 - 24:00</p>
        </div >
        <div class="h-full w-full">
          <p class="font-semibold min-h-[70%] max-h-[70%] flex items-center justify-center">Viernes y sábado</p>
          <p>08:30 - 02:00</p>
        </div>
        <div class="h-full w-full">
          <p class="font-semibold min-h-[70%] max-h-[70%] flex items-center justify-center">Domingos</p>
          <p>09:30 - 24:00</p>
        </div>
      </div>
    </time>

    

  </div>

  <!-- Línea divisoria -->
  <hr class="border-t border-gray-400 my-8 mx-3" />

  <!-- Derechos de autor -->
  <div class="container mx-auto text-center mt-8">
    <p>&copy; 2024 El Cafetito. Todos los derechos reservados.</p>
  </div>
</footer>
