---


---


<header class="sticky min-w-full flex flex-col justify-center items-center" >

  <div class=" bg-secondary min-w-full container flex flex-col font-serif items-center justify-center py-2">
    <img src="CafetitoNaranja.webp" alt="Logo del bar Cafetito en Villamayor" class="h-32 md:h-44">
    <h1 class="text-primary text-2xl md:text-3xl font-serif font-bold text-center">Café, Tapas y Bocadillos en Villamayor</h1>
  </div>

  <nav class="text-xl md:text-2xl grid grid-cols-1 md:grid-cols-2 w-full text-center bg-secondary/90">
    <a href="/" class="font-semibold text-primary/80 py-2 hover:underline md:border-r-4 border-b-2 md:border-b-0 border-background/10">Inicio</a>
    <a href="/menu" class="font-semibold text-primary/80 py-2 hover:underline">Menu</a>
  </nav>


</header>