---


---


<header class="sticky min-w-full flex flex-col justify-center items-center">

  <div class="px-4 py-4 bg-secondary min-w-full flex justify-center">
    <a href="/" class="text-3xl font-bold text-primary hover:scale-110 transition-all ease-in-out ">El CafeTito</a> 
  </div>

  <nav class="flex flex-col md:flex-row w-full bg-secondary/90 justify-center items-center ">
    <a href="/" class="text-xl font-semibold text-primary/70 py-2 px-2 hover:underline">Inicio</a>
    <a href="/menu" class="text-xl font-semibold text-primary/80 y-2 px-2 hover:underline">Menu</a>
    <a href="/contacto" class="text-xl font-semibold text-primary/70 py-2 px-2 hover:underline">Contacto</a>
  </nav>


</header>