---
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="El Cafetito Villlamayor" />
		<meta property="twitter:title" content="El Cafetito Villlamayor" />

		<meta name="description" content="Dirección: Pl. Constitución, 5, 5, 37185 Villamayor, Salamanca | Teléfono: 923 05 42 17" />
		<meta property="og:description" content="Dirección: Pl. Constitución, 5, 5, 37185 Villamayor, Salamanca | Teléfono: 923 05 42 17" />
		<meta name=”twitter:description” content="Dirección: Pl. Constitución, 5, 5, 37185 Villamayor, Salamanca | Teléfono: 923 05 42 17" />


		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Bar en Villamayor Salamanca" />

    <meta property="og:image" content="https://ejemplo.com/imagen.png" />

		<title>{title}</title>

		<script is:inline>
			function compartirPagina() {
			if (navigator.share) {
				navigator.share({
					title: document.title,
					url: window.location.href
				}).then(() => {
					console.log('Página compartida exitosamente');
				}).catch((error) => {
					console.error('Error al compartir página:', error);
				});
			} else {
				alert('Lo siento, tu navegador no soporta la API Web Share');
			}
		}
		
		</script>
		

	</head>
	<body>

		<slot />

	</body>
</html>
<style is:global>
	
	html {
		background: #EDEDE9;
		background-size: 224px;
	}
</style>
