---
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/Cafetito.ico" type="image/x-icon" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="robots" href="/robots.txt" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="El Cafetito Villlamayor" />
		<meta property="twitter:title" content="El Cafetito Villlamayor" />

		<meta name="description" content="Disfruta de un café excelente, tapas irresistibles y bocadillos ricos en nuestro bar en Villamayor, Salamanca. Estamos ubicados en la Plaza Constitución, 5, ofrecemos un ambiente acogedor. ¡Perfecto para tus momentos de relax y socialización!">

		<meta property="og:description" content="Dirección: Pl. Constitución, 5, 5, 37185 Villamayor, Salamanca" />
		<meta name=”twitter:description” content="Dirección: Pl. Constitución, 5, 5, 37185 Villamayor, Salamanca" />


		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Bar en Villamayor Salamanca" />

    <meta property="og:image" content="Cafetito.webp" />

		<meta name="keywords" content="bar, villamayor, bocadillos, hamburguesas, salamanca, café, restaurante, comida, bebida">



		<title>{title}</title>



	</head>
	<body class="bg-background" >

		<slot />

	</body>
</html>

<style is:global>

  astro-island{
    width: 100%;
  }

</style>
